@keyframes animateSvg{
    to{
        transform: translate(-50%,-10%);
    }
}

@keyframes upandown{
    to{
        transform: translateY(-5px);
    }
}
@keyframes upupdowndown{
    to{
        transform: translateY(-10px);
    }
}